.crumbs-wrapper {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}
.zhdb-info-wrapper {
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 60px);
}
.zhdb-info-wrapper .zhdb-info-content {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}
.zhdb-info-wrapper .zhdb-info-content .title {
  font-size: 20px;
  color: #000000;
}
.zhdb-info-wrapper .zhdb-info-content .title span {
  float: left;
}
.zhdb-info-wrapper .zhdb-info-content .title button {
  float: right;
  vertical-align: middle;
  width: 80px;
  height: 28px;
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
  background-color: #5584ff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 10px;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .subtitle {
  font-size: 16px;
  color: #000000;
  margin-top: 20px;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .subtitle b {
  float: right;
  cursor: pointer;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .search-form-item {
  float: left;
  width: 50%;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .search-form-item li {
  margin-right: 20px;
  margin-top: 16px;
  font-size: 12px;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .search-form-item li .form-label {
  float: left;
  width: 80px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  font-size: 12px;
  color: #929292;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .search-form-item li span {
  font-size: 12px;
  color: #000000;
  line-height: 28px;
  margin-left: 10px;
}
.zhdb-info-wrapper .zhdb-info-content .search-form .search-form-item li .subtitle {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}
.zhdb-info-wrapper .zhdb-info-content .relation-wrapper {
  margin-top: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #eef0f5;
  border-top: 1px solid #eef0f5;
}
.zhdb-info-wrapper .zhdb-info-content .relation-wrapper li {
  float: left;
  width: 25%;
  margin-right: 20px;
  font-size: 12px;
}
.zhdb-info-wrapper .zhdb-info-content .relation-wrapper li .form-label {
  float: left;
  width: 100px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  font-size: 12px;
  color: #929292;
}
.zhdb-info-wrapper .zhdb-info-content .relation-wrapper li span {
  font-size: 12px;
  color: #000000;
  line-height: 28px;
  margin-left: 10px;
}
.zhdb-info-wrapper .zhdb-info-content .relation-wrapper li #start {
  float: left;
}
.zhdb-info-wrapper .zhdb-info-content .table-wrapper {
  padding: 20px 0;
}
.zhdb-info-wrapper .zhdb-info-content .table-wrapper .subtitle {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}
.zhdb-info-wrapper .zhdb-info-content .table-wrapper .layui-tab-title li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 12px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  position: relative;
  line-height: 40px;
  min-width: 65px;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  color: #666;
}
.zhdb-info-wrapper .zhdb-info-content .table-wrapper .layui-tab-brief > .layui-tab-title .layui-this {
  color: #5584ff;
}
.zhdb-info-wrapper .zhdb-info-content .table-wrapper .layui-tab-brief > .layui-tab-more li.layui-this:after,
.zhdb-info-wrapper .zhdb-info-content .table-wrapper .layui-tab-brief > .layui-tab-title .layui-this:after {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #5584ff;
}
.zhdb-info-wrapper .layui-table-page > div {
  height: 26px;
  float: right;
}
