<link rel="stylesheet" href="../../lib/layui/layui.css" />
<script src="../../lib/cityPicker/js/city-picker.data.js"></script>
<script src="../../lib/cityPicker/js/city-picker.js"></script>

<link rel="stylesheet" href="../../lib/cityPicker/css/city-picker.css" />
<!-- <link rel="stylesheet" href="../../css/registerinfo.css" /> -->
<!-- 面包屑 -->
<div class="crumbs-wrapper">
  <span class="layui-breadcrumb">
    <a href="javascript:;">遗骸受理</a>
    <a href="javascript:;" id="return-yhxx">遗骸信息</a>
    <a><cite>详情</cite></a>
  </span>
</div>
<!-- 内容 -->
<div class="yhxx-info-wrapper">
  <div class="yhxx-info-content">
    <div class="title clearfix">
      <span>A10001</span>
      <button class="edit" id="toedit">编辑</button>
    </div>
    <div class="search-form">
      <div class="subtitle">基本信息</div>
      <div class="register-form">
        <div class="layui-form clearfix" action="">
          <ul class="form-item clearfix">
            <li>
              <label class="form-label">接收时间：</label>
              <span>2012.01.01</span>
            </li>
            <li>
              <label class="form-label">接收人：</label>
              <span>于震</span>
            </li>
          </ul>
          <ul class="form-item  clearfix">
            <li>
              <label class="form-label">姓名：</label>
              <span>黄某某</span>
            </li>
            <li>
              <label class="form-label">性别：</label>
              <span>男</span>
            </li>
            <li>
              <label class="form-label">籍贯：</label>
              <span>成都</span>
            </li>
            <li>
              <label class="form-label">民族：</label>
              <span>汉</span>
            </li>
          </ul>
          <ul class="form-item  clearfix">
            <li>
              <label class="form-label">牺牲时间：</label>
              <span>1951.09.15</span>
            </li>
            <li>
              <label class="form-label">牺牲地点：</label>
              <span>朝鲜</span>
            </li>
            <li>
              <label class="form-label">部队番号：</label>
              <span> 部队番号1</span>
            </li>
            <li>
              <label class="form-label">发掘时间：</label>
              <span>2012.01.01</span>
            </li>
            <li>
              <label class="form-label">移送单位：</label>
              <span>单位1</span>
            </li>
            <li style="width:40%;">
              <label class="form-label">原始发掘地：</label>
              <span>朝鲜</span>
            </li>
          </ul>
          <ul class="form-item layui-form-text clearfix">
            <li style="width:100%;">
              <label class="form-label">生平概要：</label>

              <span>生平概要生平概要生平概要生平概要生平概要生平概要</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="subtitle">样本信息</div>
      <div class="register-form">
        <div class="layui-form clearfix" action="">
          <ul class="form-item twoline clearfix">
            <li>
              <label class="form-label">样本类型：</label>
              <span>长骨</span>
            </li>
            <li>
              <label class="form-label">保存方式：</label>
              <span>血卡</span>
            </li>
            <li>
              <label class="form-label">保存地点：</label>
              <span>样本楼</span>
            </li>
            <li>
              <label class="form-label">采样时间：</label>
              <span>2017.08.20</span>
            </li>
            <li>
              <label class="form-label">采样人：</label>
              <span>李明</span>
            </li>
          </ul>
          <div class="upload">
            <p>采样照片：</p>
            <div class="layui-upload-list clearfix" id="preimg">
              <img
                class="layui-upload-img"
                src="../../img/Avatar.png"
                alt=""
                srcset=""
              />
              <img
                class="layui-upload-img"
                src="../../img/Avatar.png"
                alt=""
                srcset=""
              />
              <img
                class="layui-upload-img"
                src="../../img/Avatar.png"
                alt=""
                srcset=""
              />
              <img
                class="layui-upload-img"
                src="../../img/Avatar.png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="yhxx-btns">
      <button class="save-btn">保存</button>
      <button class="close-btn">关闭</button>
    </div>
  </div>
</div>
<script src="../../lib/layui/layui.all.js"></script>
<script src="./view/yhxx-info/yhxx-info.js"></script>
