<link rel="stylesheet" href="../../lib/layui/layui.css" />
<script src="../../lib/cityPicker/js/city-picker.data.js"></script>
<script src="../../lib/cityPicker/js/city-picker.js"></script>

<link rel="stylesheet" href="../../lib/cityPicker/css/city-picker.css" />
<!-- <link rel="stylesheet" href="../../css/yhxx.css" /> -->
<!-- 面包屑 -->
<div class="crumbs-wrapper">
  <span class="layui-breadcrumb">
    <a href="">系统管理</a>
    <a><cite>角色管理</cite></a>
  </span>
</div>
<!-- 内容 -->
<div class="rolemanage-wrapper">
  <div class="rolemanage-content">
    <div class="title clearfix">
      <span>角色管理</span>
      <button class="add-role-btn">+ 添加</button>
      <div class="buttons">
        <ul class="clearfix">
          <li>修改</li>
          <li>删除</li>
          <li class="fun-authorize-btn">功能授权</li>
        </ul> 
      </div>
      <div class="search-wrapper">
        <!-- <i class="layui-icon layui-icon-search"></i> -->
        <input type="search">
      </div>
    </div>
   
    
    <div class="table-wrapper">
      <table id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<!-- 弹出添加-->
<div id="add-role-info">
  <ul>
    <li>
      <span><b>*</b>角色名称：</span>
      <input type="text" placeholder="请输入系统角色名称" />
    </li>
    <li>
      <span><b>*</b>排序：</span>
      <input type="text" placeholder="请输入排序" />
    </li>
    <li>
      <span><b>*</b>角色描述：</span>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </li>
  </ul>
  <div class="buttons">
    <button class="sure">确认</button>
    <button class="cancle">取消</button>
  </div>
</div>

<!-- 功能授权 -->
<form  class="layui-form" id="fun-authorize">
  <div id="xtree1" class="xtree_contianer"></div>
  <div class="buttons">
    <button class="sure">确认</button>
    <button class="cancle">取消</button>
  </div>
</form>
<script src="../../lib/layui/layui.all.js"></script>
<script src="../../lib/layui-stree.js"></script>

<script src="./view/rolemanage/rolemanage.js"></script>

