<!-- <link rel="stylesheet" href="../../lib/layui/layui.css" /> -->
<!-- <link rel="stylesheet" href="../../css/sidebar.css" /> -->

<div class="sidebar-wrapper">
  <!-- <ul class="layui-nav layui-nav-tree" lay-filter="test">
    侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side">
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;"> <b class="icon-bone"></b> 遗骸受理</a>
      <dl class="layui-nav-child">
        <dd class="layui-this">
          <a href="javascript:;" title="yhxx">遗骸信息</a>
        </dd>
        <dd><a href="javascript:;" title="sygl">试验管理</a></dd>
        <dd><a href="javascript:;" title="zhdb">综合比对</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item ">
      <a href="javascript:;"><b class="icon-bone"></b>系统管理</a>
      <dl class="layui-nav-child">
        <dd><a href="">用户管理</a></dd>
        <dd><a href="">角色管理</a></dd>
        <dd><a href="">数据库备份</a></dd>
      </dl>
    </li>
  </ul> -->
  <ul class="nav-tree" >
    <li class="nav-item nav-itemed">
      <a href="javascript:;" class="change-bar">
         <b class="icon-bone"></b> <span>遗骸受理</span>
         <i class="icon-arrow_bottom bottom" style="display:none;"></i>
         <i class="icon-arrow_top top "></i>
        </a>
      <dl class="nav-child">
        <dd class="this">
          <a href="javascript:;" class="active"  title="yhxx">遗骸信息</a>
        </dd>
        <dd><a href="javascript:;" title="sygl">试验管理</a></dd>
        <dd><a href="javascript:;" title="zhdb">综合比对</a></dd>
      </dl>
    </li>
    <li class="nav-item ">
      <a href="javascript:;" class="change-bar">
        <b class="icon-set"></b><span>系统管理</span>
        <i class="icon-arrow_bottom bottom" style="display:none;"></i>
         <i class="icon-arrow_top top "></i>
      </a>
      <dl class="nav-child">
        <dd><a href="javascript:;" title="usermanage">用户管理</a></dd>
        <dd><a href="javascript:;" title="rolemanage">角色管理</a></dd>
        <dd><a href="javascript:;" title="databackup">数据库备份</a></dd>
      </dl>
    </li>
  </ul>
</div>
<script src="../../lib/layui/layui.all.js"></script>
<script src="./view/sidebar/sidebar.js"></script>
